.generator {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.generator__output {
    flex-basis: 50%;
    border-radius: 1em;
    padding: 1em;
    background-color: #ccc;
}

