.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding-top: 4em;
  width: 100%;
}

.app > .container {
  margin-bottom: 2em;
}